<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Character</title>
  <link rel="stylesheet" href="..\style\character.css">
</head>

<body>
  <div class="container">
    <img src="..\octu.png" class="character" />
    <div class="dialogue">
      <p id="task-text"></p>
      <p>Do you need any help?</p>
      <button class="dia-button" onclick="openChat()">Yes</button>
      <button class="dia-button" onclick="hideDialogue()">No</button>
    </div>

    <div class="clock" id="clock">--:--:--</div>


  <script src="..\js\character.js"></script>
</body>

</html>