<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Character</title>
  <link rel="stylesheet" href="..\style\character.css">
</head>

<body>
  <div class="container">
    <button class="home-button" onclick="goHome()">
  <img src="..\images\home.png" class="home-icon" />
</button>

    <div class="character"></div>
    <p id="task-text"></p>
    <div class="dialogue">
      <p>Do you need any help?</p>
      <button class="dia-button" onclick="openChat()">Yes</button>
      <button class="dia-button" onclick="hideDialogue()">No</button>
    </div>

    <div class="clock" id="clock">--:--:--</div>


  <script src="..\js\character.js"></script>
</body>

</html>